html,body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin-left: 30px;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

a{
    text-decoration: none;
}

.container {
    width:700px;
    margin: 0 auto;
}


header ul{
    display: flex;
    justify-content: flex-end;
}

.gallerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.gallerie article{
    width: 32%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.gallerie article img{
    width: 100%;
}
.gallerie article h2{
    flex:1;
}

form{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    outline: 3px solid #444;
    border-radius: 5px;
    padding: 1rem;
}

textarea{
    height: 10rem;
    width:70%;
    border-radius:1rem ;
}
input {
    width:35%;
    border-radius: 1rem;
    padding: 0.55rem 0.35rem;
}

select{
    width: 25%;
    border-radius: 1rem;
    padding: 0.55rem 0.35rem;
    background-color: blanchedalmond;
}
button{
    width:15%;
    border-radius: 1rem;
    padding: .35rem;
    background-color: #333;
    color: aliceblue;
}